
		html { 
			background: url(../data/playerbg.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		#myContent {
			position:inherit;
			margin-top: -25px;
			border: 2px dashed  grey;
			-moz-border-radius: 20px;
			border-radius: 1px;
		}		
		/* mejores letras Kreon */
		.comoJugar{
			font-family: 'Kreon';
			color: white;
			font-size: 16px;
		}
		.comoJugar p{
			top:200px;
		}
		#subtitulo p{
			font-size:12px;
			top:-50px;
		}
		.comoJugar ul{
			top:220px;
		}
		.comoJugar li{
			font-size: 16px;
			width: 250px;
		}
		#gametitle{
			font-size: 24px;	
		}
		#titulo{
			position: inherit;
			margin-top: 5px;
			font-size: 36px;
			color: red;
			text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; 
		}

		#volver{
			font-size: 16px;
		}

		#paper{
			 width: 300px;
			 height: 200px;
			 border: 2px dashed  grey;
			-moz-border-radius: 20px;
			border-radius: 1px;
			clear: both;
			margin-top: 200px;
			margin-left: 100px;
		}