    @import url(https://fonts.googleapis.com/css?family=Amatic+SC:700,400|BenchNine:400,300,700|Shadows+Into+Light+Two|Patrick+Hand|Teko:400,700,600|Alegreya+SC:900italic|Kelly+Slab|Just+Me+Again+Down+Here|Bowlby+One+SC|Oregano|Jolly+Lodger|Concert+One);

    @font-face {
      font-family: 'Chewy', cursive;
      src: url("http://fonts.googleapis.com/css?family=Chewy") format("truetype");
    }

    @font-face {
      font-family: "Mosk";
      src: url(fonts/Mosk.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskb";
      src: url(fonts/Moskb.ttf) format("truetype");
    }


    @font-face {
      font-family: "Moskeeb";
      src: url(fonts/Moskeb.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskel";
      src: url(fonts/Moskel.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskl";
      src: url(fonts/Moskl.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskm";
      src: url(fonts/Moskm.ttf) format("truetype");
    }

    @font-face {
      font-family: "Mosksb";
      src: url(fonts/Mosksb.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskt";
      src: url(fonts/Moskt.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskub";
      src: url(fonts/Moskub.ttf) format("truetype");
    }








    #paper{
        width: 800px;
        height: 600px;
    }
    
    #containerframe{
        position: relative;
        top: 65px;
    }

    #contentiframe{
        width: 745px; 
        height: 445px;
        border-color: grey;
        border-width: 1px;   
    }

    #textslide_title{
      position: fixed; 
      top: 530px; 
      left: 325px; 
      width: 500px;
      height: 200px;
      font-family: 'Chewy', cursive;
      font-size: 26px;
      color: grey;
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000; 
    }

    #textslide_sub{
      position: fixed; 
      top: 565px; 
      left: 325px; 
      width: 750px;
      height: 200px;
      font-family: 'Chewy', cursive;
      font-size: 18px;
      color: green;
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    }

  .contenidoText p {
    font: normal 14px Chewy;
    line-height:80%; 
  }

  .contenidoText h2 {
    font: normal 25px Chewy;
    line-height:30%; 
  }

  #popup, .bMulti {
    background-color: #FFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px 10px #fbaf47;
    color: #111;
    display: none;
    min-width: 650px;
    min-height: 480;
    padding: 25px;
    offset-y: auto;
  }

  #popup, .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
  }

  .button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
  }

  .button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .recuadro{

    position: absolute;
    width: 258px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: -50px; 
    top: 140px;
    left: 25px;
  }

  .contentCenter {
    width: 100%;
    margin: 0 auto;
  }