    @import url(https://fonts.googleapis.com/css?family=Amatic+SC:700,400|BenchNine:400,300,700|Shadows+Into+Light+Two|Patrick+Hand|Teko:400,700,600|Alegreya+SC:900italic|Kelly+Slab|Just+Me+Again+Down+Here|Bowlby+One+SC|Oregano|Jolly+Lodger|Concert+One);

    @font-face {
      font-family: "Mosk";
      src: url(fonts/Mosk.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskb";
      src: url(fonts/Moskb.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskeeb";
      src: url(fonts/Moskeb.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskel";
      src: url(fonts/Moskel.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskl";
      src: url(fonts/Moskl.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskm";
      src: url(fonts/Moskm.ttf) format("truetype");
    }

    @font-face {
      font-family: "Mosksb";
      src: url(fonts/Mosksb.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskt";
      src: url(fonts/Moskt.ttf) format("truetype");
    }

    @font-face {
      font-family: "Moskub";
      src: url(fonts/Moskub.ttf) format("truetype");
    }

    .itemgallery:hover {
      -webkit-filter: grayscale(0%);
      -webkit-transition: .5s ease-in-out;
      -moz-filter: grayscale(0%);
      -moz-transition: .5s ease-in-out;
      -o-filter: grayscale(0%);
      -o-transition: .5s ease-in-out;
      filter: grayscale(0%);
      transform: scale(0.98,0.98);
      border: 2px solid #41b382;
    } 


    .itemgallery {
      -webkit-filter: grayscale(100%);
      -webkit-transition: .5s ease-in-out;
      -moz-filter: grayscale(100%); 
      -moz-transition: .5s ease-in-out;
      -o-filter: grayscale(100%); 
      -o-transition: .5s ease-in-out;
      filter: grayscale(100%);
    }

    .imgInfo {
      border: 3px solid #fff;
      border-radius: 5%;
      position: relative; left: 15%;
    }

    .imgInfoSanti{
      border: 3px solid #41b382;
    }
    .imgInfoGabo{
      border: 3px solid #4cbdc1;
    }
    .imgInfoJose{
      border: 3px solid #e94354;
    }

    .itemgallerySanti:hover{
      border: 2px solid #41b382;
    }

    .itemgalleryGabo:hover{
      border: 2px solid #4cbdc1;
    }

    .itemgalleryJose:hover{
      border: 2px solid #e94354;
    }

    .rcorners {
      border-radius: 5px;
      border: 2px solid grey;
      padding: 2px; 
      width: 150px;
      height: 150px; 
    }

    .divInfo { 
       height: 20%; width: 100%; position: relative; 
    }


    #paper{
        width: 800px;
        height: 600px; 
        position:fixed;
    }


    .fancycontenido{
      font-family: "Moskl"
    }

    .fancybox-next {
        right: -60px;
    }

    /*.fancybox-prev {
        left: -60px;
    }*/
    .contenidoText p {
      color: #fff;
      font: normal 14px Moskl;
      line-height:80%; 
    }

    .contenidoText h3 {
      color: #fff;
      font: normal 18px Moskm;
      line-height:30%; 
    }

    .contenidoText h2 {
      color: #fff;
      font: normal 25px Moskm;
      line-height:30%; 
    }

    .contenidoText h1 {
      color: #fff;
      font: normal 30px Mosksb;
      line-height:30%; 
    }

    #popup, .bMulti {
      background-color: #FFF;
      border-radius: 3px 3px 3px 3px;
      box-shadow: 0 0 10px 10px #fbaf47;
      color: #111;
      display: none;
      min-width: 650px;
      min-height: 480;
      padding: 25px;
      offset-y: auto;
    }

    #popup, .logo {
      color: #2B91AF;
      font: bold 325% 'Petrona',sans;
    }

    .button.b-close, .button.bClose {
      border-radius: 7px 7px 7px 7px;
      box-shadow: none;
      font: bold 131% sans-serif;
      padding: 0 6px 2px;
      position: absolute;
      right: -7px;
      top: -7px;
    }

      .recuadroIconoSanti{
        fill: black;
      }

      .recuadroIconoSanti:hover {
        fill: #41b382;
      }

      .recuadroIconoGabo{
        fill: black;
      }

      .recuadroIconoGabo:hover {
        fill: #4cbdc1;
      }

      .recuadroIconoJose{
        fill: black;
      }

      .recuadroIconoJose:hover {
        fill: #e94354;
      }

     .recuadroNombre{
      font-family: "Moskl";
     } 


     /*.svgRecuadroClass{
        width:350px;
        height:380px;
        viewBox: 0 0 350 380;
        enable-background: new 0 0 350 380;
     }*/
    .button {
      background-color: #2B91AF;
      border-radius: 10px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      color: #FFF;
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
    }
    
    .recuadro{

      position: absolute;
      width: 258px;
      height: 450px;
      padding: -50px; 
      top: 140px;
      left: 25px;
    }

    .contentCenter {
      width: 100%;
      margin: 0 auto;
    }

    #galleryJose {
      display: inline-block;
      position: relative;
      opacity: 1;
      margin-top: 20px;
    }  


    #gallerySanti {
      display: inline-block;
      position: relative;
      opacity: 1;
      margin-top: 20px;
    }  

    #galleryGabo {
      display: inline-block;
      position: relative;
      opacity: 1;
      margin-top: 20px;
    }  

    .fancybox-inner {
      padding: 25px;

      position: relative;
      /* Redondeo de borde */
      border-radius: 5px;
      /* Tamaño de borde, estilo, color */
      border: 2px solid  #fff;
      /* Color de fondo de la ventana modal */
      background-color: #000;
    }

    /* both */
    @media screen and (max-width: 400px) and (max-height: 400px) 
    {
        body {
            background-color: #4cbdc1;
            color: #fff;
        }
    }

    body {
  background:#0b1d2a;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 40px;
}

.arrows path {
  stroke: #3ca38d;
  fill: transparent;
  stroke-width: 4px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 1s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-0.25s; /* Safari 和 Chrome */
  stroke: #41b382;
  stroke-width: 4px; 
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.25s; /* Safari 和 Chrome */
  stroke: #e94354;
  stroke-width: 4px; 
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:-0.25s; /* Safari 和 Chrome */
  stroke: #4cbdc1;
  stroke-width: 4px; 
}
 