    @import url("http://fonts.googleapis.com/css?family=Chewy");

    @font-face {
      font-family: 'Chewy', cursive;
      src: url("http://fonts.googleapis.com/css?family=Chewy") format("truetype");
    }

    html {      
      /*background: url(images/bg.jpg) no-repeat center center fixed; */
      background-size: cover;
    }

    #paper{
        width: 800px;
        height: 600px;
    }
    
    #containerframe{
        position: relative;
        top: 65px;
    }

    #contentiframe{
        width: 750px; 
        height: 450px;
        border-style: dotted;
        border-color: white;
        border-width: 2px;            
    }



    /* Paste this css to your style sheet file or under head tag */
    /* This only works with JavaScript, 
    if it's not present, don't show loader */
    /*.no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(../data/Preloader_1.gif) center no-repeat #fff;
    }
    .images ul li img {
      width: 400px;
      height: 266px;
    }
    .images ul li {
      display: inline-block;
    }*/


    #textslide_title{
      position: fixed; 
      top: 365px; 
      left: 10px; 
      width: 500px;
      height: 200px;
      font-family: 'Chewy', cursive;
      font-size: xx-large;
      color: grey;
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000; 
    }

    #textslide_sub{
      position: fixed; 
      top: 400px; 
      left: 10px; 
      width: 750px;
      height: 200px;
      font-family: 'Chewy', cursive;
      font-size: medium;
      color: green;
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    }

  .contenidoText p {
    font: normal 14px Chewy;
    line-height:30%; 
  }

  .contenidoText h2 {
    font: normal 25px Chewy;
    line-height:30%; 
  }

  #popup, .bMulti {
    background-color: #FFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px 10px #fbaf47;
    color: #111;
    display: none;
    min-width: 650px;
    min-height: 480;
    padding: 25px;
    offset-y: auto;
  }

  #popup, .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
  }

  .button.b-close, .button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
  }

  .button {
    background-color: #2B91AF;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }

  
  .contentCenter {
    width: 100%;
    margin: 0 auto;
  }