
html, body, #depreload {
    height: 100%;
    width: 100%;
	background: #000;
	/*background:url('img/bgr.jpg') no-repeat center center fixed;*/
}

.table {
	display: table;	
	background: #000;
}

.table-cell {
	display: table-cell;
}

.wrapper {
	vertical-align: middle;
	opacity: 0;
}

#depreload {
    background-size: cover;
    background-color: #000;
    position: fixed;
    text-align: center;
    z-index: 99;
}

#depreload .circle {
	width: 360px;
	height: 360px;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 50%;
	box-shadow: 0 0 1px 0px rgb(255,255,255);
	margin: 0 auto;
	position: relative;
}

#depreload .line {
	margin: -20px;
	opacity: 0;
}

#depreload .perc {
	color: #fbaf47;
	font-size: 4.3em;
	text-transform: uppercase;
	margin-top: 15px;
	font-family: 'Amatic SC', cursive ;
	font-weight: 300;
	letter-spacing: 1px;
}

#depreload .loading {
	color: #fbaf47;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-top: 110px;
	font-family: 'Amatic SC', cursive ;
	font-weight: 200;
	letter-spacing: 1px;
}

#depreload .perc, #depreload .loading {
	position: absolute;
	width: 100%;
}

#depreload .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 139px;
	height: 145px;
	margin-left: -69px;
	margin-top: -72px;
	opacity: 0;
}

.gallery {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
